    <% if flash[:notice] %>
      <div class="notification is-success global-notification is-radiusless is-light">
        <button class="delete"></button>
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notification is-danger global-notification is-radiusless is-light">
        <button class="delete"></button>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>