  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong class="brand-logo">GossipLand</strong> by <a href="#">Houda Cherkaoui</a>. The source code is licensed
        <a href="#">MIT</a>.
      </p>
    </div>
  </footer>