<div class="column">
  <nav class="panel">
    <p class="panel-heading side-panel">Who to follow</p>
  </nav>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://cdn.pixabay.com/photo/2020/03/28/15/20/cat-4977436_960_720.jpg" alt="cat-avatar">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Tom Cat</strong>
            <small>@tomcat</small>
          </p>
        </div>
      </div>
    </article>
  </div>

  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://cdn.pixabay.com/photo/2020/03/28/15/20/cat-4977436_960_720.jpg" alt="cat-avatar">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Tom Cat</strong>
            <small>@tomcat</small>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://cdn.pixabay.com/photo/2020/03/28/15/20/cat-4977436_960_720.jpg" alt="cat-avatar">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Tom Cat</strong>
            <small>@tomcat</small>
          </p>
        </div>
      </div>
    </article>
  </div>
</div>