<div class="column">
  <nav class="panel">
    <p class="panel-heading side-panel">Who to follow</p>
  </nav>

  <% @users.each do |user| %>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-32x32">
            <img src="https://cdn.pixabay.com/photo/2020/03/28/15/20/cat-4977436_960_720.jpg" alt="avatar">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= user.name %></strong>
              <small>@<%= user.username %></small>
            </p>
          </div>
        </div>
      </article>
    </div>
  <% end %>

</div>