/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bulma';
@import url("https://fonts.googleapis.com/css?family=Crafty+Girls|Indie+Flower|Just+Another+Hand|Lakki+Reddy|Mansalva|Nanum+Gothic|Parisienne|Rock+Salt|Sacramento|Sedgwick+Ave+Display&display=swap");


@mixin desktop {
  @media (min-width: 840px) {
    @content;

  }
}

body, html {
  height: auto;
}


.navbar {
  background-color: transparent;
}

.brand-logo {
  h1 {
    color: white !important;
    font-family: 'Sacramento', cursive;
    font-weight: 1000 !important;
    font-size: 4em !important;
  }
}

.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.notifications:not(:last-child) {
  margin-bottom: 0;
}

#bg-clip {
  clip-path: polygon(0 0, 100% 0, 100% 16%, 57% 49%, 0 100%, 0% 50%);
  background-color: #f42;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;

  @include desktop {

    clip-path: polygon(0 0, 100% 0, 100% 10%, 60% 45%, 0 98%, 0% 50%);;

  }
}


// gossip card


.gossip-container {

  background-color: white;
  border: 1px solid #ccc;
  padding: 25px 25px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 10vh auto;

  .name-lockup {

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    .avatar {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 5px;
      float: left;
      margin-right: 15px;
    }

    .name {
      font-weight: bold;
      font-size: 1.1em;
      padding-top: 7px;
      margin-left: 10px;
      span {
        font-weight: normal;
        color: grey;
        font-size: 0.9em;
        display: block;
      }
    }

  }

  blockquote {
    margin: 30px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
  }

  .actions {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    [class*="icon-"] {
      color: #999;
      margin-right: 20px;
      &::before {
        margin-right: 5px;
      }

      &.icon-star {
        color: #ff9600;
      }
    }

    time {
      color: #999;
      font-size: 0.7em;
    }
    
  }
}